EX2/Frontend/SoftPlantillaWS/SoftPlantillaBaseBO/Connected Services/ServicioWS/PostulanteWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="softplantilla.services" targetNamespace="softplantilla.services" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="insertarPostulante" type="tns:insertarPostulante" />
  <xs:element name="insertarPostulanteResponse" type="tns:insertarPostulanteResponse" />
  <xs:complexType name="insertarPostulante">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:universidad" />
      <xs:element minOccurs="0" name="arg1" type="xs:string" />
      <xs:element minOccurs="0" name="arg2" type="xs:string" />
      <xs:element minOccurs="0" name="arg3" type="xs:string" />
      <xs:element minOccurs="0" name="arg4" type="xs:double" />
      <xs:element minOccurs="0" name="arg5" type="xs:boolean" />
      <xs:element minOccurs="0" name="arg6" type="xs:boolean" />
      <xs:element minOccurs="0" name="arg7" type="xs:boolean" />
      <xs:element minOccurs="0" name="arg8" type="tns:modalidad" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="universidad">
    <xs:sequence>
      <xs:element minOccurs="0" name="activa" type="xs:boolean" />
      <xs:element minOccurs="0" name="idUniversidad" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="siglas" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarPostulanteResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="modalidad">
    <xs:restriction base="xs:string">
      <xs:enumeration value="PRESENCIAL" />
      <xs:enumeration value="VIRTUAL" />
      <xs:enumeration value="HIBRIDA" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>