TA/Frontend/RHStoreWS/RHStoreBaseBO/Connected Services/ServiciosWeb/OrdenCompraWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="softrh.services" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="OrdenCompraWS" targetNamespace="softrh.services" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://ec2-54-89-220-117.compute-1.amazonaws.com:8080/SoftRHWS/OrdenCompraWS?xsd=1" namespace="softrh.services" />
    </xsd:schema>
  </types>
  <message name="insertarOrdenCompraConCupon">
    <part name="parameters" element="tns:insertarOrdenCompraConCupon" />
  </message>
  <message name="insertarOrdenCompraConCuponResponse">
    <part name="parameters" element="tns:insertarOrdenCompraConCuponResponse" />
  </message>
  <message name="insertarOrdenCompraSinCupon">
    <part name="parameters" element="tns:insertarOrdenCompraSinCupon" />
  </message>
  <message name="insertarOrdenCompraSinCuponResponse">
    <part name="parameters" element="tns:insertarOrdenCompraSinCuponResponse" />
  </message>
  <message name="pagarConPaypal">
    <part name="parameters" element="tns:pagarConPaypal" />
  </message>
  <message name="pagarConPaypalResponse">
    <part name="parameters" element="tns:pagarConPaypalResponse" />
  </message>
  <message name="cambiarEstado">
    <part name="parameters" element="tns:cambiarEstado" />
  </message>
  <message name="cambiarEstadoResponse">
    <part name="parameters" element="tns:cambiarEstadoResponse" />
  </message>
  <message name="listarPorIdCliente">
    <part name="parameters" element="tns:listarPorIdCliente" />
  </message>
  <message name="listarPorIdClienteResponse">
    <part name="parameters" element="tns:listarPorIdClienteResponse" />
  </message>
  <message name="modificarOrdenCompra">
    <part name="parameters" element="tns:modificarOrdenCompra" />
  </message>
  <message name="modificarOrdenCompraResponse">
    <part name="parameters" element="tns:modificarOrdenCompraResponse" />
  </message>
  <message name="eliminarOrdenCompra">
    <part name="parameters" element="tns:eliminarOrdenCompra" />
  </message>
  <message name="eliminarOrdenCompraResponse">
    <part name="parameters" element="tns:eliminarOrdenCompraResponse" />
  </message>
  <message name="insertarPrendaSeleccionada">
    <part name="parameters" element="tns:insertarPrendaSeleccionada" />
  </message>
  <message name="insertarPrendaSeleccionadaResponse">
    <part name="parameters" element="tns:insertarPrendaSeleccionadaResponse" />
  </message>
  <message name="listarOrdenCompraTodos">
    <part name="parameters" element="tns:listarOrdenCompraTodos" />
  </message>
  <message name="listarOrdenCompraTodosResponse">
    <part name="parameters" element="tns:listarOrdenCompraTodosResponse" />
  </message>
  <message name="capturarPagoConPayPal">
    <part name="parameters" element="tns:capturarPagoConPayPal" />
  </message>
  <message name="capturarPagoConPayPalResponse">
    <part name="parameters" element="tns:capturarPagoConPayPalResponse" />
  </message>
  <message name="listarOrdenPorEstado">
    <part name="parameters" element="tns:listarOrdenPorEstado" />
  </message>
  <message name="listarOrdenPorEstadoResponse">
    <part name="parameters" element="tns:listarOrdenPorEstadoResponse" />
  </message>
  <message name="obtenerOrdenCompraPorId">
    <part name="parameters" element="tns:obtenerOrdenCompraPorId" />
  </message>
  <message name="obtenerOrdenCompraPorIdResponse">
    <part name="parameters" element="tns:obtenerOrdenCompraPorIdResponse" />
  </message>
  <portType name="OrdenCompraWS">
    <operation name="insertarOrdenCompraConCupon">
      <input wsam:Action="softrh.services/OrdenCompraWS/insertarOrdenCompraConCuponRequest" message="tns:insertarOrdenCompraConCupon" />
      <output wsam:Action="softrh.services/OrdenCompraWS/insertarOrdenCompraConCuponResponse" message="tns:insertarOrdenCompraConCuponResponse" />
    </operation>
    <operation name="insertarOrdenCompraSinCupon">
      <input wsam:Action="softrh.services/OrdenCompraWS/insertarOrdenCompraSinCuponRequest" message="tns:insertarOrdenCompraSinCupon" />
      <output wsam:Action="softrh.services/OrdenCompraWS/insertarOrdenCompraSinCuponResponse" message="tns:insertarOrdenCompraSinCuponResponse" />
    </operation>
    <operation name="pagarConPaypal">
      <input wsam:Action="softrh.services/OrdenCompraWS/pagarConPaypalRequest" message="tns:pagarConPaypal" />
      <output wsam:Action="softrh.services/OrdenCompraWS/pagarConPaypalResponse" message="tns:pagarConPaypalResponse" />
    </operation>
    <operation name="cambiarEstado">
      <input wsam:Action="softrh.services/OrdenCompraWS/cambiarEstadoRequest" message="tns:cambiarEstado" />
      <output wsam:Action="softrh.services/OrdenCompraWS/cambiarEstadoResponse" message="tns:cambiarEstadoResponse" />
    </operation>
    <operation name="listarPorIdCliente">
      <input wsam:Action="softrh.services/OrdenCompraWS/listarPorIdClienteRequest" message="tns:listarPorIdCliente" />
      <output wsam:Action="softrh.services/OrdenCompraWS/listarPorIdClienteResponse" message="tns:listarPorIdClienteResponse" />
    </operation>
    <operation name="modificarOrdenCompra">
      <input wsam:Action="softrh.services/OrdenCompraWS/modificarOrdenCompraRequest" message="tns:modificarOrdenCompra" />
      <output wsam:Action="softrh.services/OrdenCompraWS/modificarOrdenCompraResponse" message="tns:modificarOrdenCompraResponse" />
    </operation>
    <operation name="eliminarOrdenCompra">
      <input wsam:Action="softrh.services/OrdenCompraWS/eliminarOrdenCompraRequest" message="tns:eliminarOrdenCompra" />
      <output wsam:Action="softrh.services/OrdenCompraWS/eliminarOrdenCompraResponse" message="tns:eliminarOrdenCompraResponse" />
    </operation>
    <operation name="insertarPrendaSeleccionada">
      <input wsam:Action="softrh.services/OrdenCompraWS/insertarPrendaSeleccionadaRequest" message="tns:insertarPrendaSeleccionada" />
      <output wsam:Action="softrh.services/OrdenCompraWS/insertarPrendaSeleccionadaResponse" message="tns:insertarPrendaSeleccionadaResponse" />
    </operation>
    <operation name="listarOrdenCompraTodos">
      <input wsam:Action="softrh.services/OrdenCompraWS/listarOrdenCompraTodosRequest" message="tns:listarOrdenCompraTodos" />
      <output wsam:Action="softrh.services/OrdenCompraWS/listarOrdenCompraTodosResponse" message="tns:listarOrdenCompraTodosResponse" />
    </operation>
    <operation name="capturarPagoConPayPal">
      <input wsam:Action="softrh.services/OrdenCompraWS/capturarPagoConPayPalRequest" message="tns:capturarPagoConPayPal" />
      <output wsam:Action="softrh.services/OrdenCompraWS/capturarPagoConPayPalResponse" message="tns:capturarPagoConPayPalResponse" />
    </operation>
    <operation name="listarOrdenPorEstado">
      <input wsam:Action="softrh.services/OrdenCompraWS/listarOrdenPorEstadoRequest" message="tns:listarOrdenPorEstado" />
      <output wsam:Action="softrh.services/OrdenCompraWS/listarOrdenPorEstadoResponse" message="tns:listarOrdenPorEstadoResponse" />
    </operation>
    <operation name="obtenerOrdenCompraPorId">
      <input wsam:Action="softrh.services/OrdenCompraWS/obtenerOrdenCompraPorIdRequest" message="tns:obtenerOrdenCompraPorId" />
      <output wsam:Action="softrh.services/OrdenCompraWS/obtenerOrdenCompraPorIdResponse" message="tns:obtenerOrdenCompraPorIdResponse" />
    </operation>
  </portType>
  <binding name="OrdenCompraWSPortBinding" type="tns:OrdenCompraWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="insertarOrdenCompraConCupon">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarOrdenCompraSinCupon">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="pagarConPaypal">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="cambiarEstado">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarPorIdCliente">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modificarOrdenCompra">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarOrdenCompra">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarPrendaSeleccionada">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarOrdenCompraTodos">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="capturarPagoConPayPal">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarOrdenPorEstado">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="obtenerOrdenCompraPorId">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="OrdenCompraWS">
    <port name="OrdenCompraWSPort" binding="tns:OrdenCompraWSPortBinding">
      <soap:address location="http://ec2-54-89-220-117.compute-1.amazonaws.com:8080/SoftRHWS/OrdenCompraWS" />
    </port>
  </service>
</definitions>