TA/Frontend/RHStoreWS/RHStoreBaseBO/Connected Services/ServiciosWeb/PrendaWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="softrh.services" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="PrendaWS" targetNamespace="softrh.services" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://ec2-54-89-220-117.compute-1.amazonaws.com:8080/SoftRHWS/PrendaWS?xsd=1" namespace="softrh.services" />
    </xsd:schema>
  </types>
  <message name="obtenerPrendaPorId">
    <part name="parameters" element="tns:obtenerPrendaPorId" />
  </message>
  <message name="obtenerPrendaPorIdResponse">
    <part name="parameters" element="tns:obtenerPrendaPorIdResponse" />
  </message>
  <message name="obtenerImagenPorId">
    <part name="parameters" element="tns:obtenerImagenPorId" />
  </message>
  <message name="obtenerImagenPorIdResponse">
    <part name="parameters" element="tns:obtenerImagenPorIdResponse" />
  </message>
  <message name="modificarPrenda">
    <part name="parameters" element="tns:modificarPrenda" />
  </message>
  <message name="modificarPrendaResponse">
    <part name="parameters" element="tns:modificarPrendaResponse" />
  </message>
  <message name="eliminarPrenda">
    <part name="parameters" element="tns:eliminarPrenda" />
  </message>
  <message name="eliminarPrendaResponse">
    <part name="parameters" element="tns:eliminarPrendaResponse" />
  </message>
  <message name="insertarPrenda">
    <part name="parameters" element="tns:insertarPrenda" />
  </message>
  <message name="insertarPrendaResponse">
    <part name="parameters" element="tns:insertarPrendaResponse" />
  </message>
  <message name="listarPrendasTodas">
    <part name="parameters" element="tns:listarPrendasTodas" />
  </message>
  <message name="listarPrendasTodasResponse">
    <part name="parameters" element="tns:listarPrendasTodasResponse" />
  </message>
  <message name="obtenerTallasUnicas">
    <part name="parameters" element="tns:obtenerTallasUnicas" />
  </message>
  <message name="obtenerTallasUnicasResponse">
    <part name="parameters" element="tns:obtenerTallasUnicasResponse" />
  </message>
  <message name="obtenerTallasPorPrenda">
    <part name="parameters" element="tns:obtenerTallasPorPrenda" />
  </message>
  <message name="obtenerTallasPorPrendaResponse">
    <part name="parameters" element="tns:obtenerTallasPorPrendaResponse" />
  </message>
  <message name="listarPrendasFiltradas">
    <part name="parameters" element="tns:listarPrendasFiltradas" />
  </message>
  <message name="listarPrendasFiltradasResponse">
    <part name="parameters" element="tns:listarPrendasFiltradasResponse" />
  </message>
  <message name="listarPrendasPorGenero">
    <part name="parameters" element="tns:listarPrendasPorGenero" />
  </message>
  <message name="listarPrendasPorGeneroResponse">
    <part name="parameters" element="tns:listarPrendasPorGeneroResponse" />
  </message>
  <message name="obtenerColoresPorPrenda">
    <part name="parameters" element="tns:obtenerColoresPorPrenda" />
  </message>
  <message name="obtenerColoresPorPrendaResponse">
    <part name="parameters" element="tns:obtenerColoresPorPrendaResponse" />
  </message>
  <message name="obtenerColoresUnicos">
    <part name="parameters" element="tns:obtenerColoresUnicos" />
  </message>
  <message name="obtenerColoresUnicosResponse">
    <part name="parameters" element="tns:obtenerColoresUnicosResponse" />
  </message>
  <message name="listarPrendasPorNombreDescripcion">
    <part name="parameters" element="tns:listarPrendasPorNombreDescripcion" />
  </message>
  <message name="listarPrendasPorNombreDescripcionResponse">
    <part name="parameters" element="tns:listarPrendasPorNombreDescripcionResponse" />
  </message>
  <portType name="PrendaWS">
    <operation name="obtenerPrendaPorId">
      <input wsam:Action="softrh.services/PrendaWS/obtenerPrendaPorIdRequest" message="tns:obtenerPrendaPorId" />
      <output wsam:Action="softrh.services/PrendaWS/obtenerPrendaPorIdResponse" message="tns:obtenerPrendaPorIdResponse" />
    </operation>
    <operation name="obtenerImagenPorId">
      <input wsam:Action="softrh.services/PrendaWS/obtenerImagenPorIdRequest" message="tns:obtenerImagenPorId" />
      <output wsam:Action="softrh.services/PrendaWS/obtenerImagenPorIdResponse" message="tns:obtenerImagenPorIdResponse" />
    </operation>
    <operation name="modificarPrenda">
      <input wsam:Action="softrh.services/PrendaWS/modificarPrendaRequest" message="tns:modificarPrenda" />
      <output wsam:Action="softrh.services/PrendaWS/modificarPrendaResponse" message="tns:modificarPrendaResponse" />
    </operation>
    <operation name="eliminarPrenda">
      <input wsam:Action="softrh.services/PrendaWS/eliminarPrendaRequest" message="tns:eliminarPrenda" />
      <output wsam:Action="softrh.services/PrendaWS/eliminarPrendaResponse" message="tns:eliminarPrendaResponse" />
    </operation>
    <operation name="insertarPrenda">
      <input wsam:Action="softrh.services/PrendaWS/insertarPrendaRequest" message="tns:insertarPrenda" />
      <output wsam:Action="softrh.services/PrendaWS/insertarPrendaResponse" message="tns:insertarPrendaResponse" />
    </operation>
    <operation name="listarPrendasTodas">
      <input wsam:Action="softrh.services/PrendaWS/listarPrendasTodasRequest" message="tns:listarPrendasTodas" />
      <output wsam:Action="softrh.services/PrendaWS/listarPrendasTodasResponse" message="tns:listarPrendasTodasResponse" />
    </operation>
    <operation name="obtenerTallasUnicas">
      <input wsam:Action="softrh.services/PrendaWS/obtenerTallasUnicasRequest" message="tns:obtenerTallasUnicas" />
      <output wsam:Action="softrh.services/PrendaWS/obtenerTallasUnicasResponse" message="tns:obtenerTallasUnicasResponse" />
    </operation>
    <operation name="obtenerTallasPorPrenda">
      <input wsam:Action="softrh.services/PrendaWS/obtenerTallasPorPrendaRequest" message="tns:obtenerTallasPorPrenda" />
      <output wsam:Action="softrh.services/PrendaWS/obtenerTallasPorPrendaResponse" message="tns:obtenerTallasPorPrendaResponse" />
    </operation>
    <operation name="listarPrendasFiltradas">
      <input wsam:Action="softrh.services/PrendaWS/listarPrendasFiltradasRequest" message="tns:listarPrendasFiltradas" />
      <output wsam:Action="softrh.services/PrendaWS/listarPrendasFiltradasResponse" message="tns:listarPrendasFiltradasResponse" />
    </operation>
    <operation name="listarPrendasPorGenero">
      <input wsam:Action="softrh.services/PrendaWS/listarPrendasPorGeneroRequest" message="tns:listarPrendasPorGenero" />
      <output wsam:Action="softrh.services/PrendaWS/listarPrendasPorGeneroResponse" message="tns:listarPrendasPorGeneroResponse" />
    </operation>
    <operation name="obtenerColoresPorPrenda">
      <input wsam:Action="softrh.services/PrendaWS/obtenerColoresPorPrendaRequest" message="tns:obtenerColoresPorPrenda" />
      <output wsam:Action="softrh.services/PrendaWS/obtenerColoresPorPrendaResponse" message="tns:obtenerColoresPorPrendaResponse" />
    </operation>
    <operation name="obtenerColoresUnicos">
      <input wsam:Action="softrh.services/PrendaWS/obtenerColoresUnicosRequest" message="tns:obtenerColoresUnicos" />
      <output wsam:Action="softrh.services/PrendaWS/obtenerColoresUnicosResponse" message="tns:obtenerColoresUnicosResponse" />
    </operation>
    <operation name="listarPrendasPorNombreDescripcion">
      <input wsam:Action="softrh.services/PrendaWS/listarPrendasPorNombreDescripcionRequest" message="tns:listarPrendasPorNombreDescripcion" />
      <output wsam:Action="softrh.services/PrendaWS/listarPrendasPorNombreDescripcionResponse" message="tns:listarPrendasPorNombreDescripcionResponse" />
    </operation>
  </portType>
  <binding name="PrendaWSPortBinding" type="tns:PrendaWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="obtenerPrendaPorId">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="obtenerImagenPorId">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modificarPrenda">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarPrenda">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarPrenda">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarPrendasTodas">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="obtenerTallasUnicas">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="obtenerTallasPorPrenda">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarPrendasFiltradas">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarPrendasPorGenero">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="obtenerColoresPorPrenda">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="obtenerColoresUnicos">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarPrendasPorNombreDescripcion">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="PrendaWS">
    <port name="PrendaWSPort" binding="tns:PrendaWSPortBinding">
      <soap:address location="http://ec2-54-89-220-117.compute-1.amazonaws.com:8080/SoftRHWS/PrendaWS" />
    </port>
  </service>
</definitions>